In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:90%;}
div.CodeMirror {font-family:Consolas; font-size:18pt;}
div.output {font-size:19pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:19pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
table.dataframe{font-size:17pt;}
</style>
"""))

In [2]:
! pip install cx_Oracle

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0-cp310-cp310-win_amd64.whl (213 kB)
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

In [3]:
import cx_Oracle

In [6]:
dsn = cx_Oracle.makedsn(host='localhost',
                       port=1521,
                       sid='xe')
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [7]:
conn = cx_Oracle.connect(user='scott',
                         password='tiger',
                         dsn=dsn)
conn

In [9]:
# EMP 테이블의 모든 정보 출력
cursor = conn.cursor() # SQL문 전송, 결과 받는 객체
sql = "SELECT * FROM EMP"
cursor.execute(sql)
emps = cursor.fetchall() # sql문 결과를 튜플 list로
print(emps)

[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1983, 1, 12, 0, 0), 1100.0, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]

In [10]:
import pandas as pd
emp_df = pd.DataFrame(emps)
emp_df

       0       1          2       3          4       5       6   7
0   7369   SMITH      CLERK  7902.0 1980-12-17   800.0     NaN  20
1   7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600.0   300.0  30
2   7521    WARD   SALESMAN  7698.0 1981-02-22  1250.0   500.0  30
3   7566   JONES    MANAGER  7839.0 1981-04-02  2975.0     NaN  20
4   7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250.0  1400.0  30
5   7698   BLAKE    MANAGER  7839.0 1981-05-01  2850.0     NaN  30
6   7782   CLARK    MANAGER  7839.0 1981-06-09  2450.0     NaN  10
7   7788   SCOTT    ANALYST  7566.0 1982-12-09  3000.0     NaN  20
8   7839    KING  PRESIDENT     NaN 1981-11-17  5000.0     NaN  10
9   7844  TURNER   SALESMAN  7698.0 1981-09-08  1500.0     0.0  30
10  7876   ADAMS      CLERK  7788.0 1983-01-12  1100.0     NaN  20
11  7900   JAMES      CLERK  7698.0 1981-12-03   950.0     NaN  30
12  7902    FORD    ANALYST  7566.0 1981-12-03  3000.0     NaN  20
13  7934  MILLER      CLERK  7782.0 1982-01-23  1300.0     NaN  10

In [11]:
cursor.description

[('EMPNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 0),
 ('ENAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 1),
 ('JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 9, 9, None, None, 1),
 ('MGR', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 1),
 ('HIREDATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('SAL', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('COMM', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('DEPTNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 3, None, 2, 0, 1)]