In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:90%;}
div.CodeMirror {font-family:Consolas; font-size:18pt;}
div.output {font-size:19pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:19pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
table.dataframe{font-size:18px;}
</style>
"""))

<b><font color="red" size="6">ch12. 데이터 프레임과 시리즈(Pandas)</font></b>

# 9절. 데이터 그룹화 및 집계

In [9]:
import pandas as pd
import numpy as np
from statsmodels.api import datasets
iris = datasets.get_rdataset('iris').data
print(iris.shape)
iris.iloc[[0,49,50,99,100,149]]

(150, 5)

     Sepal.Length  ...     Species
0             5.1  ...      setosa
49            5.0  ...      setosa
50            7.0  ...  versicolor
99            5.7  ...  versicolor
100           6.3  ...   virginica
149           5.9  ...   virginica

[6 rows x 5 columns]

## 9.1 Group by
cf. pivot_table

In [16]:
# 1) 그룹화 방법1
#    df.groupby(by=[그룹핑할열])[함수적용해서출력할열들].기초통계함수()
    # [함수적용해서출력할열들] : 모든 열이 적용됨
iris_grouped = iris.groupby(iris.Species)
iris_grouped_sum = iris_grouped.sum()
iris_grouped_sum

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa             250.3  ...         12.3
versicolor         296.8  ...         66.3
virginica          329.4  ...        101.3

[3 rows x 4 columns]

In [18]:
iris_grouped_sum.loc[['setosa','virginica']]

           Sepal.Length  ...  Petal.Width
Species                  ...
setosa            250.3  ...         12.3
virginica         329.4  ...        101.3

[2 rows x 4 columns]

In [12]:
print(iris_grouped_sum.columns)
print(iris_grouped_sum.index)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width'], dtype='object')
Index(['setosa', 'versicolor', 'virginica'], dtype='object', name='Species')

In [19]:
iris_grouped_sum.reset_index(inplace=True) # index를 컬럼 데이터로 편입

In [21]:
iris_grouped_sum

      Species  ...  Petal.Width
0      setosa  ...         12.3
1  versicolor  ...         66.3
2   virginica  ...        101.3

[3 rows x 5 columns]

In [25]:
# iris_grouped_sum에서 setosa 그룹함수 결과만 추출
iris_grouped_sum[iris_grouped_sum['Species']=='setosa']
iris_grouped_sum[iris_grouped_sum.Species=='setosa']
iris_grouped_sum.loc[iris_grouped_sum.Species=='setosa']

  Species  Sepal.Length  ...  Petal.Length  Petal.Width
0  setosa         250.3  ...          73.1         12.3

[1 rows x 5 columns]

In [27]:
# iris_grouped_sum에서 setosa와 virginica 그룹함수 결과만 추출
iris_grouped_sum[ (iris_grouped_sum.Species=='setosa') |
                  (iris_grouped_sum.Species=='virginica')]

     Species  ...  Petal.Width
0     setosa  ...         12.3
2  virginica  ...        101.3

[2 rows x 5 columns]

In [29]:
iris_grouped_sum[iris_grouped_sum.Species.isin(['setosa', 'virginica'])]

     Species  ...  Petal.Width
0     setosa  ...         12.3
2  virginica  ...        101.3

[2 rows x 5 columns]

In [31]:
# 1) 그룹화 방법2 : 그룹핑할 때 index를 컬럼 데이터로 편입(reset_index 가 필요 X)
#    df.groupby(by=[그룹핑할열], as_index=False)[함수적용해서출력할열들].기초통계함수()
    # [함수적용해서출력할열들] : 모든 열이 적용됨
iris.groupby(iris.Species, as_index=False).sum()

      Species  ...  Petal.Width
0      setosa  ...         12.3
1  versicolor  ...         66.3
2   virginica  ...        101.3

[3 rows x 5 columns]

In [35]:
display(iris.groupby(iris.Species).sum())
display(iris.groupby(['Species']).sum())
display(iris.groupby('Species').sum())

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa             250.3  ...         12.3
versicolor         296.8  ...         66.3
virginica          329.4  ...        101.3

[3 rows x 4 columns]

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa             250.3  ...         12.3
versicolor         296.8  ...         66.3
virginica          329.4  ...        101.3

[3 rows x 4 columns]

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa             250.3  ...         12.3
versicolor         296.8  ...         66.3
virginica          329.4  ...        101.3

[3 rows x 4 columns]

In [38]:
# 종별 Sepal.Length와 Sepal.Width의 평균
iris.groupby('Species').mean()[['Sepal.Length','Sepal.Width']]
iris.groupby('Species')[['Sepal.Length','Sepal.Width']].mean()

            Sepal.Length  Sepal.Width
Species
setosa             5.006        3.428
versicolor         5.936        2.770
virginica          6.588        2.974

In [39]:
# 종별 Sepal.Length의 합계
iris.groupby('Species')['Sepal.Length'].sum() # 결과가 시리즈(1차원)

Species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: Sepal.Length, dtype: float64