In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:99%;}
div.CodeMirror {font-family:Consolas; font-size:20pt;}
div.output {font-size:18pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:19pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
table.dataframe{font-size:19px;}
</style>
"""))

**<font size="5" color="red">ch3 연관분석</font>**
- pip install apyori

# 1. 연관분석 개요
- 데이터들 사이에 자주 발생하는 속성을 찾고, 그 속성들 사이에 연관성이 어느 정도 있는지 분석하는 방법
- 활용분야 : 상품진열, 사기보험적발, 신상품 카테고리 구성....

```
{조건:X ex오렌지주스} -> {결과:Y, ex:와인}
연관분석과 관련 지표
1. 지지도(support) : 전체 데이터 중에 조건결과 항목들의 포함된 거래 비율
     (X, Y)의 항목수 / 전체 데이터수 ex.0.2
2. 신뢰도(confidence) : 조건이 발생했을 때, 결과가 동시에 일어날 확률
     (X, Y)의 항목수 / 조건항목수  ex.0.5
3. 향상도(lift) : 우연히 발생한 규칙은 아닌지 확인
     조건결과 지지도 / (조건지지도)*(결과지지도)
     <1 : 음의 상관관계
     >1 : 양의 상관관계
                           지지도    신뢰도    향상도
{오렌지주스} -> {와인}     1/5(0.2)  1/2(0.5)  0.2/0.4*0.6=0.2/0.24  = 0.833
```

In [4]:
%ls data\cf_basket.csv

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 2D0E-15FE

 D:\ai\source\10_자연어처리\data 디렉터리

2024-12-30  오전 09:03               119 cf_basket.csv
               1개 파일                 119 바이트
               0개 디렉터리  472,865,341,440 바이트 남음

# 2. 연관분석 구현

In [10]:
# 트랜젝션 데이터 가져오기
import csv
transaction = []
with open('data/cf_basket.csv','r', encoding='utf-8') as f:
    csvdata = csv.reader(f)
    #print(list(csvdata))
    for row in csvdata:
        transaction.append(row)
transaction

[['소주', '콜라', '와인'],
 ['소주', '오렌지주스', '콜라'],
 ['맥주', '콜라', '와인'],
 ['소주', '콜라', '맥주'],
 ['오렌지주스', '와인']]

In [13]:
from apyori import apriori
rules = apriori(transaction, min_support=0.15, min_confidence=0.1)
rules = list(rules)
len(rules)

18

In [14]:
rules[15]
# items=frozenset({'와인', '콜라', '맥주'}),  support=0.2 : 이 세트가  함께 나타날 확률
# items_base :  조건(lhs)
# items_add : 결과(rhs)

RelationRecord(items=frozenset({'와인', '콜라', '맥주'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'와인', '콜라', '맥주'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'맥주'}), items_add=frozenset({'와인', '콜라'}), confidence=0.5, lift=1.25), OrderedStatistic(items_base=frozenset({'와인'}), items_add=frozenset({'콜라', '맥주'}), confidence=0.33333333333333337, lift=0.8333333333333334), OrderedStatistic(items_base=frozenset({'콜라'}), items_add=frozenset({'와인', '맥주'}), confidence=0.25, lift=1.25), OrderedStatistic(items_base=frozenset({'와인', '맥주'}), items_add=frozenset({'콜라'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'콜라', '맥주'}), items_add=frozenset({'와인'}), confidence=0.5, lift=0.8333333333333334), OrderedStatistic(items_base=frozenset({'와인', '콜라'}), items_add=frozenset({'맥주'}), confidence=0.5, lift=1.25)])

In [19]:
row = rules[15]
support = row[1]
ordered_st = row[2]
for item in ordered_st:
    lhs = ', '.join([x for x in item[0]])
    rhs = ', '.join([x for x in item[1]])
    confidence = item[2]
    lift       = item[3]
    if lift>1 : 
        print("{} => {} \t {} \t {} \t {}".format(lhs, rhs, support, confidence, lift))

맥주 => 와인, 콜라 	 0.2 	 0.5 	 1.25
콜라 => 와인, 맥주 	 0.2 	 0.25 	 1.25
와인, 맥주 => 콜라 	 0.2 	 1.0 	 1.25
와인, 콜라 => 맥주 	 0.2 	 0.5 	 1.25

In [28]:
print('조건 -> 결과 \t 지지도    \t신뢰도   \t향상도 ')
for row in rules:
    support = row[1]
    ordered_st = row[2]
    for item in ordered_st:
        lhs = ', '.join([x for x in item[0]])
        rhs = ', '.join([x for x in item[1]])
        confidence = item[2]
        lift       = item[3]
        if lift > 1:
            print("{:10} -> {:10} : {} \t {} \t {}".format(lhs, rhs, 
                                                      support, 
                                                      round(confidence,2), 
                                                      round(lift,2)))

조건 -> 결과 	 지지도    	신뢰도   	향상도
맥주         -> 콜라         : 0.4 	 1.0 	 1.25
콜라         -> 맥주         : 0.4 	 0.5 	 1.25
소주         -> 콜라         : 0.6 	 1.0 	 1.25
콜라         -> 소주         : 0.6 	 0.75 	 1.25
콜라         -> 소주, 맥주     : 0.2 	 0.25 	 1.25
소주, 맥주     -> 콜라         : 0.2 	 1.0 	 1.25
맥주         -> 와인, 콜라     : 0.2 	 0.5 	 1.25
콜라         -> 와인, 맥주     : 0.2 	 0.25 	 1.25
와인, 맥주     -> 콜라         : 0.2 	 1.0 	 1.25
와인, 콜라     -> 맥주         : 0.2 	 0.5 	 1.25
소주         -> 오렌지주스, 콜라  : 0.2 	 0.33 	 1.67
콜라         -> 오렌지주스, 소주  : 0.2 	 0.25 	 1.25
오렌지주스, 소주  -> 콜라         : 0.2 	 1.0 	 1.25
오렌지주스, 콜라  -> 소주         : 0.2 	 1.0 	 1.67
콜라         -> 와인, 소주     : 0.2 	 0.25 	 1.25
와인, 소주     -> 콜라         : 0.2 	 1.0 	 1.25

In [33]:
import pandas as pd
rules_df = pd.DataFrame(None, columns=['lhs','rhs', 'support', 'confidence', 'lift'])

index = 0
for row in rules:
    support = row[1]
    ordered_st = row[2]
    for item in ordered_st:
        lhs = ', '.join([x for x in item[0]])
        rhs = ', '.join([x for x in item[1]])
        confidence = item[2]
        lift       = item[3]
        if lift > 1:
            rules_df.loc[index] = [lhs, rhs, support, confidence, lift]
            index += 1
rules_df.sort_values(by=['confidence', 'lift'], ascending=False)

          lhs        rhs  support  confidence      lift
13  오렌지주스, 콜라         소주      0.2    1.000000  1.666667
0          맥주         콜라      0.4    1.000000  1.250000
2          소주         콜라      0.6    1.000000  1.250000
5      소주, 맥주         콜라      0.2    1.000000  1.250000
8      와인, 맥주         콜라      0.2    1.000000  1.250000
12  오렌지주스, 소주         콜라      0.2    1.000000  1.250000
15     와인, 소주         콜라      0.2    1.000000  1.250000
3          콜라         소주      0.6    0.750000  1.250000
1          콜라         맥주      0.4    0.500000  1.250000
6          맥주     와인, 콜라      0.2    0.500000  1.250000
9      와인, 콜라         맥주      0.2    0.500000  1.250000
10         소주  오렌지주스, 콜라      0.2    0.333333  1.666667
4          콜라     소주, 맥주      0.2    0.250000  1.250000
7          콜라     와인, 맥주      0.2    0.250000  1.250000
11         콜라  오렌지주스, 소주      0.2    0.250000  1.250000
14         콜라     와인, 소주      0.2    0.250000  1.250000

# 3. 뉴스 연관 분석
- http://fs.jtbc.joins.com/RSS/economy.xml 기사 검색 후 -> 명사 추출(기자, 앵커 제외) -> 
    ->연관분석 (min_support=0.15, min_confidence=0.1)

In [37]:
(lambda word : word not in ['기자','앵커'])('단군')

True

In [35]:
stopwords = ['기자','앵커']
noun_list = ['홍수', '기자', '앵커','단군']
list(filter(lambda word : word not in stopwords, noun_list))

['홍수', '단군']

In [43]:
import requests
from bs4 import BeautifulSoup
from mecab import MeCab
from apyori import apriori

rss_url = "http://fs.jtbc.joins.com/RSS/economy.xml"
jtbc_economy = requests.get(rss_url)
soup = BeautifulSoup(jtbc_economy.content, 'xml')
link_ele = soup.select('item link')
link_list = [link.text for link in link_ele]

mecab = MeCab()
scripts = []
news = []
stopwords = ['기자','앵커']
for link in link_list:
    response = requests.get(link)
    news_soup = BeautifulSoup(response.content, "html.parser")
    title = news_soup.select_one('title').text.replace('| JTBC 뉴스', '')
    content = str(news_soup.select_one('meta[name="description"]'))
    content = content.replace('<meta content="', '').replace('" name="description"/>','')
    text = title + ' ' + content
    scripts.append(text)
    # postagging 이용한 예
#     noun_list = [word for word, tag in mecab.pos(text) if tag in ('NNG', 'NNP')]
#     noun_list = list(filter(lambda word : word not in stopwords, noun_list))
    # nouns함수를 사용한 예
    # noun_list = list(filter(lambda word : word not in stopwords, mecab.nouns(text)))
    # filter함수 이용 안 한 경우
    noun_list =[word for word, tag in mecab.pos(text) \
                if tag in ('NNG', 'NNP') and word not in stopwords]
    
    news.append(noun_list)
    
rules = apriori(news, min_support=0.15, min_confidence=0.3)
rules = list(rules) # 리스트로 안 바꾸면 generator 객체
import pandas as pd
rules_df = pd.DataFrame(None, 
                columns=['lhs','rhs','support','confidence','lift'])
index = 0
for row in rules:
    support = row[1]
    ordered_st = row[2]
    for item in ordered_st:
        lhs = ','.join(x for x in item[0])
        rhs = ','.join(x for x in item[1])
        confidence = item[2]
        lift      = item[3]
        if lift > 1:
            rules_df.loc[index] = [lhs, rhs, support, confidence, lift]
            index += 1
rules_df

      lhs    rhs  support  confidence      lift
0      가격     이상     0.15        0.75  3.000000
1      이상     가격     0.15        0.60  3.000000
2      가격     최근     0.15        0.75  3.750000
3      최근     가격     0.15        0.75  3.750000
4       말     아람     0.15        0.60  2.400000
5      아람      말     0.15        0.60  2.400000
6      사실     상태     0.15        1.00  6.666667
7      상태     사실     0.15        1.00  6.666667
8      사실     업체     0.15        1.00  6.666667
9      업체     사실     0.15        1.00  6.666667
10     상태     업체     0.15        1.00  6.666667
11     업체     상태     0.15        1.00  6.666667
12     사실  상태,업체     0.15        1.00  6.666667
13     상태  사실,업체     0.15        1.00  6.666667
14     업체  사실,상태     0.15        1.00  6.666667
15  사실,상태     업체     0.15        1.00  6.666667
16  사실,업체     상태     0.15        1.00  6.666667
17  상태,업체     사실     0.15        1.00  6.666667

In [40]:
scripts

["둔촌주공 '전세 홍수' 예상했는데…눈치게임 시작됐다  [앵커]\n\n단군 이래 최대 규모의 재건축이라 불리는 둔촌주공아파트 입주가 다음 달 말부터 시작됩니다. 한꺼번에 대규모 입주가 이뤄지다 보니, 전세매물도 쏟아지지 않을까 했는데 현장 분위기는 다르다고 합니다.\n\n이상화 기자입니다.\n\n[기자]\n\n다음 달 말부터 1만2천 세대가 입주를 시작하는 서울 둔촌동 올림픽파크포레온입니다.\n\n국내 재건축 가운데 역대 최대 규모입니다.\n\n[이용택/공인중개사 : 공개 행사 이후에 찾아오는 분들이 거의 두 배 가량 늘었다고 판단을 하고 있습니다. 다양한 연령층에서 다양한 세대에서 관심을&amp;hellip;]\n\n단지가 워낙 크다 보니 입주 시기 전에 전세 물량이 쏟아져 나올지도 관심입니다.\n\n6년 전, 9천여 세대가 입주한 서울 헬리오시티는 당시 전세뿐 아니라 매매가격도 동반 하락했습니다.\n\n그런데 이번엔 다르다는 게 현장 분위깁니다.\n\n[김복수/공인중개사 : 일반적으로 아파트가 입주하면 30~40% 정도는 전세 나오는 게 보통 시장의 모습인데 여기는 (전세보다) 입주가 많다고 보면 되고, (전세라도) 본인이 받고자 하는 가격을 받고 싶어 하는 거죠]\n\n실거주 의무가 아직 폐지되지 않은 데다 신축 선호 현상도 가세하면서 전세매물 자체가 부족하단 겁니다.\n\n현재 인터넷에 올라온 매물은 3천 세대에도 못 미칩니다.\n\n최근 정부의 대출 관리로 전세대출 규제가 강해진 점도 한몫했습니다.\n\n[권대중/서강대 부동산학과 교수 : 전세대출이 막혔기 때문에 세입자가 물량이 나온다 하더라도 전세대출이 안 되면 들어갈 수가 없거든요. 실입주가 늘어나는 그런 현상 때문에 임대 물량도 없는 것 같습니다.]\n\n상대적으로 저렴하게 전세를 내놨다가 다시 거둬들이는 집주인들도 있는데, 주변 전셋값도 신축을 중심으로 오르는 추세입니다.\n\n[함영진/직방 빅데이터랩장 : 대규모 입주장에 따른 전세 가격 하락이라든지 또 풍부한 매물 유통을 기대하기는 좀 어려울 것으로 보이고요.]\n\n[영상취재 신승규 / 영상편집 김지우]",
 '"실제 가보니 완전 사기네"…캠핑장 관리 소홀했다간  [앵커]\n\n캠핑장을 예약할 때 예약 플랫폼에 올라온 사진으로만 봤을 땐 기대가 컸는데 막상 가보니 사진과 많이 달라서 당황했다는 분들 적지 않습니다. 같은 캠핑장이 맞나 싶은 이런 사진들 앞으론 예약 업체들도 책임을 져야 합니다.\n\n정아람 기자입니다.\n\n\n[기자]\n\n한 인터넷 카페에 올라온 글입니다.\n\n소비자가 캠핑장 상태가 예약 플랫폼에서 본 사진과 너무 다르다며 불만을 토로합니다.\n\n사진에선 깔끔한 신축 건물이었는데, 실제로 가보니 신축이 아니었단 글도 있습니다.\n\n[김정식/피해자 : 사이트에 올라온 사진이나 글 보고 선택할 수밖에 없는데 막상 가보면 너무 다르니까 사기당한 것 같기도 하고, 호소할 데도 없으니까 소비자 입장에서는 억울하죠.]\n\n한국소비자원이 조사해 보니, 캠핑 예약 플랫폼 이용자의 74%가 플랫폼상의 정보가 실제와 달라 불편했다고 답했습니다.\n\n그동안은 불공정한 약관 때문에 소비자가 보상받을 길이 거의 없었습니다.\n\n실제 야놀자와 여기어때 등 주요 예약 플랫폼 약관엔 정보의 정확성과 신뢰도에 대해 사업자의 책임을 면제하는 조항이 있었습니다.\n\n하지만 앞으론 실제 모습이 사실과 다를 경우 플랫폼도 책임을 물어야 합니다.\n\n[신용호/공정위 약관특수거래과장 : 플랫폼 사업자는 플랫폼을 운영·관리하는 주체로서 선량한 관리자로서의 주의의무를 다해야 하며, 이용자 간 분쟁 발생 시 이를 해결하기 위해 필요한 조치를 신속히 이행해야 할 의무도 있습니다.]\n\n또 캠핑장 사진과 정보가 최근 실제 모습인지 플랫폼이 업체에 정기 점검을 고지하도록 했습니다.&amp;nbsp;\n\n공정위는 약관 시정이 캠핑장과 자연휴양림 등으로 확대되도록관계 부처와 협의하고 있다고 밝혔습니다.',
 '"요즘 한 끼도 버겁다"…편의점 갔다가 \'이 정도일 줄은\'  [앵커]2만 원에 육박하는 점심값을 아끼려다 보면 편의점 도시락이 든든한 한 끼가 될 때가 많은데요. 그런데 이 편의점 도시락도 7000원으로 오르면서 식비 부담이 커졌습니다.정아람 기자입니다.[기자]서울의 한…',
 '"오늘은 굶어야겠다" 말 나오는 이유…편의점 도시락도 \'7천원 시대\'  [앵커]주머니가 가벼운 직장인들이나 자취생들이 간편하게 자주 찾는 게 편의점 도시락이죠. 그런데 이 편의점 도시락마저 7천원을 눈앞에 두고 있다고 합니다.정아람 기자입니다.[기자]서울의 한 편의점.도시락 하…',
 "경영권 분쟁 '주총 표대결'로…롤러코스터 탄 고려아연 주가  [앵커]오늘(28일) 고려아연 주가, 장중 15%포인트 넘게 출렁이며 말 그대로 롤러코스터를 탔습니다. 한 달 넘게 이어진 공개매수 절차가 완전히 마무리되면서인데 뚜껑을 열어보니 양측 모두 과반 확보에 실패해 결…",
 '"결혼하기 진짜 힘들겠구나"…\'돈 걱정\' 앞서는 예비부부들  [앵커]저출산도 문제지만, 결혼하는 것조차 쉽지 않은 현실인데요. 예비 부부들은 결혼식에 드는 비용이 갈수록 비싸지는 것도 문제라고 말합니다.이 소식은 정아람 기자가 전해드립니다.[기자]내년 5월 결혼을 앞…',
 "예비부부 울리는 '웨딩 물가'…올해 예식장 비용 21% 올라  [앵커]한편 결혼식에 드는 비용이 갈수록 비싸져서, 식 치르는 것부터가 쉽지 않다고 예비부부들은 말합니다.이 소식은 정아람 기자가 전해드립니다.[기자]내년 5월 결혼을 앞둔 정현대, 김세현 씨.본격적으로 결혼…",
 "20대 '비정규직 비중' 역대 최고…10명 중 4명 꼴  20대 비정규직이 꾸준히 늘면서 임금 근로자 10명 중 4명은 비정규직인 걸로 나타났습니다.통계청에 따르면, 지난 8월 기준 20대 임금 근로자 가운데 비정규직은 146만 1000명으로 전체의 43.1%를 차지했습니다.이…",
 '대통령까지 나서 "확실하게 살아난다"더니…경제 \'빨간불\'  <meta content=\'[앵커]어제(24일), 예상보다 훨씬 나빴던 3분기 경제성장률이 공개되자, 우리 경제를 둘러싼 우려도 커지고 있습니다. 두 달 전에는 대통령까지 나서 "경제가 확실하게 살아날 거"라고 장담했지만, 정부 인식이 지…\' name="description"/>',
 '믿었던 수출마저 뒷걸음질…3분기 경제성장률 0.1% 그쳐  [앵커]한국은행이 오늘(24일) 우리 경제 3분기 성적표를 내놨는데 예상했던 것보다 훨씬 나쁜 것으로 나왔습니다. 걱정했던 소비는 미미하게나마 개선됐지만, 우리 경제 효자 역할을 했던 수출이 뒷걸음쳤습니다.공…',
 "'HBM' 날개 단 SK하이닉스…삼성전자 뛰어넘는 역대급 실적  [앵커]SK하이닉스가 올해 3분기, 7조원대 영업이익을 기록하며 사상 최대 실적을 냈습니다. 고부가가치 메모리라 불리는 고대역폭메모리, HBM이 불티나게 팔린 영향인데 삼성전자 반도체 실적까지 뛰어넘은 걸로 보…",
 '여전히 비싼 배추…정부 "11월 중순엔 3천원대로 내려갈 것"  [앵커]한 포기에 2만 원까지 치솟았던 배추 가격이 최근 들어 조금 떨어지고는 있지만 여전히 평년 대비 2배 가까이 비쌉니다. 정부가 오늘(23일) 수급 안정 대책을 내놓으며 김장 속 재료는 조금 싸다고 했는데 김…',
 "내년 추석 1년 남았는데…황금연휴 항공권 '예약 전쟁'  [앵커]내년 추석, 아직 먼 얘기 같지만 벌써 1년 뒤를 준비하는 사람들이 많다고 합니다. 잘만 하면 최대 열흘까지 쉴 수 있는 '황금연휴'라서, 긴 여행을 계획하는 건데 벌써 매진된 항공노선도 적지 않습니다.정…",
 "역대급 여름 폭염 탓에…제철에 '귀한 몸' 된 가을 전어  [앵커]전어가 제철인 계절 가을이지만, 전엇값은 두세 배가 넘게 뛰었습니다. 폭염 때문에 조업량이 크게 줄었기 때문인데 꽃게나 갈치도 비슷한 상황이어서, 생선 인플레이션이 느껴질 정도입니다.이상화 기자입니…",
 "바다 뜨거워지자 귀해진 전어…현실화한 '피시플레이션'  [앵커]이상 기온이 이어지면서 '가을 전어'는 제철인데도 가격이 두세 배나 뛰었습니다. 한여름 폭염이 바닷물 온도를 서서히 높여놔 조업량이 크게 줄어든 탓입니다. 꽃게나 갈치도 비슷한 상황이어서 가을 수산물…",
 "정부, '자본잠식' 티메프 재무 상태도 안 보고…80억 예산 책정  [앵커]티몬과 위메프가 미정산 사태가 나기 직전까지, 정부 지원 사업을 한다며 입점 업체들에게 매출을 늘리라고 한 사실이 확인됐습니다.  이 말을 믿은 판매자들은 판매를 늘렸다가 피해만 더 커졌습니다. 정부…",
 '"정부 믿고 팔았다 피해"…정부, 재무 상태 안 보고 티몬 지원  [앵커]티몬과 위메프가 미정산 사태 직전에 정부 지원 사업을 한다며 마지막까지 입점 업체들에게 매출을 늘리라고 한 사실이 취재 결과 확인됐습니다. 실제로 80억원의 지원 예산을 책정했던 정부는 재무 상태는…',
 '15억 이상 아파트 거래, 최근 5년 중 최고…10건 중 8건은 서울  부동산 가격 상승 등의 영향으로 서울을 중심으로 해 전국의 고가 아파트 거래 비중이 최근 5년 중 가장 높게 나타났습니다.국토교통부 등에 따르면 올해 1월부터 8월까지 전국의 아파트 매매 건수는 30만3천890가…',
 '서민 동아줄인데…오락가락 \'디딤돌 대출\'에 "불안"  [앵커]정부가 무주택 서민들의 내 집 마련을 돕는 \'디딤돌 대출\' 한도를 줄이기로 하면서 갑자기 대출을 못 받게 된 실수요자들은 혼란스러웠습니다. 반발이 커지자 규제 시행을 일단 미루기로 했습니다.이상화 기…',
 '뉴욕증시 다우·S&P500 사상 최고치…6주 연속 상승세  어제(18일) 미국 뉴욕증시가 3분기 실적 호조에 힘입어 강세를 이어가면서 다우존스 지수와 S&amp;P 500 지수가 각각 사상 최고치를 경신했습니다.뉴욕증시 주요 지수들은 주간 기준 6주 연속 오르며 올해 최장기간 상…']