In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:90%;}
div.CodeMirror {font-family:Consolas; font-size:18pt;}
div.output {font-size:19pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:19pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
table.dataframe{font-size:19px;}
</style>
"""))

전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv (지역명, 평당분양가격, 연도, 월)
- 지역명2 : 지역명필드는 라벨인코딩하여 추가
- 평당분양가격n : 평당분양가격의 정규화 스케일 조정하여 추가
- 평당분양가격s : 평당분양가격의 표준화 스케일 조정하여 추가
- 연도n : 연도의 정규화 스케일 조정하여 추가
- 연도s : 연도의 표준화 스케일 조정하여 추가
- 월n   : 월의 정규화 스케일 조정하여 추가
- 월s   : 월의 표준화 스케일 조정하여 추가

In [17]:
import pandas as pd
csvdata = pd.read_csv(r'D:\ai\Downloads\shareData\전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv',
                encoding='cp949')
df = csvdata.melt(id_vars="지역", var_name="연도월", value_name="평당분양가격")
df["연도"] = df["연도월"].apply(lambda x : int(x.split("년")[0]))
df["월"] = df["연도월"].apply(lambda x : int(x.split("년")[-1][:-1]))
df.drop('연도월', axis=1, inplace=True)
df = df.rename(columns={'지역':'지역명'})
df.head(2)

  지역명  평당분양가격    연도   월
0  서울   18189  2013  12
1  부산    8111  2013  12