In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:90%;}
div.CodeMirror {font-family:Consolas; font-size:19pt;}
div.output {font-size:19pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:19pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:18pt;padding:5px;}
div.CodeMirror-lines > div {padding-left:10px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /,  //(몫연산자), %(나머지), **(제곱)

In [44]:
print(10**5) # 10의 5승

100000

## 5.2 할당연산자 : =, +=, -=, *=,  /=, //=, %=

In [45]:
a = 10
a //= 3 # a = a//3
a

3

In [ ]:
## 5.2 할당연산자 : =, +=, -=, *=,  /=, //=, %=

a = 10
a //= 3 # a = a//3
a

## 5.3 논리연산자 : &, and, |, or, not

In [49]:
# & : 논리연산자, 비트연산자
print( (10>3) & (10>5) ) # 논리연산 True & True
print( 12 & 1 ) # 비트연산 # 1100 (12)
                          # 0001 (1)
                        # & 0000 (0)

True
0

In [58]:
# and :  거짓으로 판별되는 첫번째 항의 결과 반환
      # 모든 항이 참이면, 마지막항의 결과 반환
print(True and True and 'abc')
print(0 and False)
print(True and None)

abc
0
None

In [55]:
print( (10>5) and (10>7) )

True

In [61]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :',result)
result = False | 3 # 0000 | 0011
print('비트연산(연산자 앞이나 뒤에 숫자일 때)',result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) 3

In [64]:
# or :  참으로 판별되는 첫번째 항의 결과 반환
      # 모든 항이 거짓이면, 마지막항의 결과 반환
print(False or 0 or '' or None or [])
print('HONG' or 0 or False)

[]
HONG

## 5.4 비교연산자 : >, >=, <, <=, ==, !=

In [70]:
# 비교연산자는 이항, 삼항, ... 다항 연산자
x = 5
print( (4 < x) & (x < 10) )
print( 4 < x < 10)
print(1 < 2 < 4 < x < 10)

True
True
True

In [71]:
# 비교연산자의 우선순위가 논리연산의 우선순위보다 낮다
print( (10>5) & (10>7) )
print(  10>5  &  10>7 ) # 괄호가 없으면 우선순위가 높은 논리연산부터 실행
print(  10>(5  &  10)>7 )
print(  10> 0 > 7 )
# 0101 (5)
# 1010 (10)

True
False
False
False

In [75]:
address = '서울'
age = 29
print(address=='서울' & age>=30) # 우선순위를 보고 괄호를 반드시

TypeError: unsupported operand type(s) for &: 'str' and 'int'

In [72]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
'scott'<'tiger'

True

In [73]:
'감우성' < '홍길동'

True

## 5.5 비트연산

In [ ]:
a= '''
x    y    x&y    x|y    x^y(XOR) ~x
0    0     0      0      0        1
0    1     0      1      1        1
1    0     0      1      1        0
1    1     1      1      0        0
'''

In [83]:
a = 15
b = 2
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101

## 5.6 isinstance

In [85]:
a = 15
isinstance(a, float)

False

- 포맷팅 : "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명)
- 연산자 
    * 산술연산 : + - * / // % **
    * 할당연산 : = += -= *= /= //= %=
    * 논리연산 : & and | or not
    * 비트연산 : ^(XOR) &(and) |(or) ~(not)
    * 논리연산자가 비교연산자보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열슬라이싱변수[from:to:by]
- len(문자열변수)
- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 앞글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수 반환
- find('찾을문자열') : '찾을문자열'이 왼쪽부터 시작하여 몇번째에 있는지 index를 반환
- rfind('찾을문자열') : '찾을문자열'이 오른쪽부터 시작하여 몇번째에 있는지 index를 반환
            (찾을문자열이 없으면 -1을 반환)
    cf. index('찾을문자열') : '찾을문자열'이 왼쪽부터 시작하여 몇번째 있는지 index를 반환
            (찾을 문자열이 없으면 오류)
- startswith('특정문자열') : '특정문자열'로 시작하는지 여부 반환
- endswith('특정문자열') : '특정문자열'로 끝나는지 여부 반환
- strip() : 좌우공백제거(trim)
- rstrip() : 오른쪽 공백제거
- lstrip() : 왼쪽 공백제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자 문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr을 변경

In [3]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [4]:
print('첫번째 글자는 {}이고, 마지막 글자는 {}입니다'.format(temp[0], temp[-1]))

첫번째 글자는 p이고, 마지막 글자는 n입니다

In [5]:
tel = "010-7894-2132"
print('전화번호 끝자리 :', tel[-4:])

전화번호 끝자리 : 2132

In [29]:
temp = "python is easy. pyTHon is SMART. python"
#       012345678901234567890123456789012345678
print('대문자로 :', temp.upper())
print('소문자로 :', temp.lower())
print('title() :', temp.title())
print('capitalize():', temp.capitalize())
print('python이 몇번 나오는지 :', temp.count('python'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('python이 나오는 첫index 위치 :', temp.find('python'))
print('python이 나오는 마지막index 위치 :', temp.rfind('python'))
print('Java가 나오는 첫 index 위치 :', temp.find('Java'))
print('python이 나오는 첫index 위치 :', temp.index('python'))
# print('Java가 나오는 첫 index 위치 :', temp.index('Java'))
print('python으로 시작하는 문자열인지 :', temp.startswith('Python'))
print('python으로 끝나는 문자열인지 :', temp.endswith('python'))
print('python대신 R로 변경 :', temp.replace('python','R').replace('pyTHon', 'R'))

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title() : Python Is Easy. Python Is Smart. Python
capitalize(): Python is easy. python is smart. python
python이 몇번 나오는지 : 2
대소문자 구분없이 python이 몇번 나오는지 : 3
대소문자 구분없이 python이 몇번 나오는지 : 3
대소문자 구분없이 python이 몇번 나오는지 : 3
python이 나오는 첫index 위치 : 0
python이 나오는 마지막index 위치 : 33
Java가 나오는 첫 index 위치 : -1
python이 나오는 첫index 위치 : 0
python으로 시작하는 문자열인지 : False
python으로 끝나는 문자열인지 : True
python대신 R로 변경 : R is easy. R is SMART. R

In [44]:
temp = '   python is easy    '
notdisit = '1,234'
print('strip() : [{}]'.format(temp.strip()))
print('lstrip() : [{}]'.format(temp.lstrip()))
print('rstrip() : [{}]'.format(temp.rstrip()))
print('isdigit() : {}'.format(notdisit.replace(',','').isdigit()))
print('대문자인지 : {}'.format(temp.isupper()))
print('소문자인지 : {}'.format(temp.islower()))

strip() : [python is easy]
lstrip() : [python is easy    ]
rstrip() : [   python is easy]
isdigit() : True
대문자인지 : False
소문자인지 : True

In [45]:
temp = '   홍길동    김길동 신길똥 유길뚱'
print('space 단위로 temp를 분리(list로 반환) :', temp.split())

space 단위로 temp를 분리(list로 반환) : ['홍길동', '김길동', '신길똥', '유길뚱']

In [47]:
date = '2024-11-05'
print('- 단위로 date를 분리(list로 반환)합니다')
date_list = date.split('-')
date_list
print('년 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])

- 단위로 date를 분리(list로 반환)합니다
년 : 2024
월 : 11
일 : 05

In [54]:
# ' - '을 '/'로 바꾸기
temp = 'Java - Oracle - 웹표준 - JSP - PYTHON'
print('원 temp :', temp)
splited_temp = temp.split(' - ')
print('분리된 temp :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('joined_temp :', joined_temp)

원 temp : Java - Oracle - 웹표준 - JSP - PYTHON
분리된 temp : ['Java', 'Oracle', '웹표준', 'JSP', 'PYTHON']
joined_temp : Java/Oracle/웹표준/JSP/PYTHON

In [55]:
str_ = 'ABC' # ['A','B', 'C']
for s in str_:
    print(s)

A
B
C

In [56]:
str_list = ['A','B','C']
for s in str_list:
    print(s)

A
B
C

In [57]:
# 문자열을 다룰 수 있는 함수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간,날짜 다루기

In [9]:
# datetime모듈(~.py)안의 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [3]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 3, 7, 18, 0)
thatday

datetime.datetime(2025, 3, 7, 18, 0)

In [6]:
print(thatday)
print(thatday.strftime("%Y년 %m월 %d일 %p %I시 %M분"))
print("{:%y년%m월%d일 %H시%M분%S초}".format(thatday))

2025-03-07 18:00:00
2025년 03월 07일 PM 06시 00분
25년03월07일 18시00분00초

In [8]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now.ctime()) # 사람이 읽기 쉬는 형태로 
print(now)
print(now.strftime("%Y년 %m월 %d일 %p %I시 %M분"))
print("{:%y년%m월%d일 %H시%M분%S초}".format(now))

Wed Nov  6 09:53:16 2024
2024-11-06 09:53:16.590194
2024년 11월 06일 AM 09시 53분
24년11월06일 09시53분16초

## 7.2 날짜

In [10]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 3, 7)
someday

datetime.date(2025, 3, 7)

In [14]:
print(someday)
print(someday.strftime("%Y년%m월%d일 %H시%M분"))
print("{:%Y년%m월%d일 %H시%M분}".format(someday))

2025-03-07
2025년03월07일 00시00분
2025년03월07일 00시00분

In [15]:
# 오늘을 갖는 date 객체 생성
today = date.today()
today

datetime.date(2024, 11, 6)

In [16]:
print(today)
print(today.strftime("%Y년%m월%d일 %H시%M분"))
print("{:%Y년%m월%d일 %H시%M분}".format(today))

2024-11-06
2024년11월06일 00시00분
2024년11월06일 00시00분

## 7.3 시간

In [17]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(13, 12)
t

datetime.time(13, 12)

In [20]:
print(t)
print(t.strftime("%Y년%m월%d일 %p %I시%M분%S초"))
print("{:%y년%m월%d일 %H시%M분%S초}".format(t))

13:12:00
1900년01월01일 PM 01시12분00초
00년01월01일 13시12분00초

In [47]:
# 현재 시간을 저장하는 time 객체 생성
now = datetime.now() # 현재 날짜와 현재 시간
now.year, now.month, now.day, now.hour, now.minute, now.second, now.microsecond

(2024, 11, 6, 10, 9, 25, 999999)

In [57]:
now = datetime.now() 
now_time = time(now.hour, now.minute, now.second, now.microsecond)
print(now_time)
print(now_time.strftime("%Y년%m월%d일 %p %I시%M분%S초"))
print("{:%y년%m월%d일 %H시%M분%S초}".format(now_time))

10:11:16.068868
1900년01월01일 AM 10시11분16초
00년01월01일 10시11분16초

# 8절. 연습문제

In [59]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = '홍길동'
age = 23
print('{}님의 나이는 {}살입니다'.format(name, age))
print('{0}님의 나이는 {1}살입니다'.format(name, age))
print('%s님의 나이는 %d살입니다'% (name, age))
print(f'{name}님의 나이는 {age}살입니다')

홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다

In [73]:
# 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 = ', (num1+num2))
print('num1 - num2 = ', (num1-num2))
print('num1 * num2 = ', (num1*num2))
print('num1 / num2 = ', (num1/num2))
print('num1 // num2 = ', (num1//num2))
print('num1 % num2 = ', (num1%num2))

첫번째 수10
두번째 수20
num1 + num2 =  30
num1 - num2 =  -10
num1 * num2 =  200
num1 / num2 =  0.5
num1 // num2 =  0
num1 % num2 =  10

In [62]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World’가 
    #할당된 변수를 이용하여 ‘World Hello’로 출력하세요
str = 'Hello world'
print(str[-5:],str[:5])
splited_str = str.split()
print(splited_str[1], splited_str[0])

world Hello
world Hello

In [63]:
print(splited_str[::-1])
print(' '.join(splited_str[::-1]))

['world', 'Hello']
world Hello

In [64]:
# 4. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요
x = 'abcdef'
print(x[1:]+x[0])
print(x[1:],x[0], sep='')

bcdefa
bcdefa

In [65]:
# 5.x = ‘abcdef’를 이용하여 ‘fedcba’로 출력하세요
x = 'abcedf'
print(x[::-1])

fdecba

In [74]:
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input('섭씨 온도를 입력하세요'))
f = (c*1.8)+32
print("섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도 입니다".format(c, f))

섭씨 온도를 입력하세요9
섭씨 9도는 화씨온도로 바꾸면 48.20도 입니다

In [67]:
#7 (1) (2) (3)번

In [68]:
# 8
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [69]:
# 9 (2)

In [71]:
# 10 아래 프로그램의 결과는 ? 에러남
x =5
y = "John"
print(x + y)

In [72]:
# 11.split()함수를 이용하여 str_의 값 
    # 중 ＂나라＂를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
str_.split()[1]

'나라'