In [20]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:85%;}
div.CodeMirror {font-family:Consolas; font-size:20pt;}
div.output {font-size:20pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:20pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:150px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 1절. 변수

## 1.1 변수 선언
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.2 변수 할당
- 할당연산자를 이용해서 변수값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체

In [2]:
r = 5
area = 3.14 * r * r
print('계산된 넓이는' , area)

계산된 넓이는 78.5

In [3]:
import numpy as np # numpy라는 패키지(폴더)를 np라는 이름으로 사용

In [4]:
area = np.pi * r * r
print(area)

78.53981633974483

In [5]:
print('area의 주소 :',id(area)) # id(area)  : area변수(객체)의 주소값
print('area의 타입 : ', type(area))

area의 주소 : 1375264898160
area의 타입 :  <class 'float'>

In [6]:
area.is_integer()

False

In [7]:
area = 10

In [8]:
print('area의 주소 :',id(area)) # id(area)  : area변수(객체)의 주소값
print('area의 타입 : ', type(area))

area의 주소 : 1375185994256
area의 타입 :  <class 'int'>

In [9]:
area = '파이썬'
print('area의 주소 :',id(area)) # id(area)  : area변수(객체)의 주소값
print('area의 타입 : ', type(area))

area의 주소 : 1375260770928
area의 타입 :  <class 'str'>

## 1.3 변수 이름 규칙
- 문자로 시작
- 문자(특수문자는 _제외하고는 안됨), 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 붙여서 사용
- 파이썬 예약어(if, while,..)는 변수이름 사용 불가.
- 한글 변수는 꼭 필요시만 사용

In [10]:
이름 = "홍길동"
이름

'홍길동'

In [11]:
print(이름)

홍길동

In [12]:
if = 5

SyntaxError: invalid syntax (2630263448.py, line 1)

In [ ]:
member.name = 5 #변수에 .은 사용불가(R에서는 .을 변수명에 사용 가능)

In [ ]:
member_name = 5 # 
memberName = 5 # 카멜표기법

In [ ]:
print = 5

In [ ]:
print(이름)

In [ ]:
del print # print 변수 삭제
print_ = 5
print(이름)

In [ ]:
# 숫자 : 정수, 실수, 복소수
i = 3 + 3j # 복소수
type(i)

In [ ]:
isinstance(i, complex) # i 변수(객체)가 complex타입인지 여부

## 1.4 도움말

In [ ]:
help(print)

In [ ]:
help()

In [ ]:
# 도움말 기능 : shift+tab 키
print()

In [ ]:
def add(x, y=0): 
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨(default값 0)
    사용법 : add(2,3) => 23
    '''
    return x*10 + y

In [ ]:
add(5,4)

In [ ]:
add(5)

In [ ]:
a = add # 함수형언어는 변수에 함수 할당 가능. a랑 add는 같은 함수

In [ ]:
a(5,4)

In [ ]:
a(5)

## 1.5 다중 변수 선언

In [ ]:
a = 10
b = 20

In [ ]:
a, b = 10, 20 # 동시에 다중 변수 선언

In [ ]:
a, b

In [ ]:
a, b = b, a+b # 다중 변수 할당시 순차적 할당이 아니고 일괄 동시 할당

In [ ]:
a, b

# 2절. 화면 i/o

In [ ]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자열
first = input()
first

In [ ]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

In [ ]:
print('두수의 합은', first+second)

In [ ]:
sum = int(first) + int(second)

In [ ]:
print('합', sum)

In [ ]:
print('합', sum, 'Hello','World', sep=' / ', end='\t\t')
print('Hello','Python', sep=' ~ ')

In [ ]:
import sys
print('hello', 'world', 'Hello','python', file=sys.stdout)

# 3절. 기본 자료형
- 프로그래밍 언어들은 변수가 가져야 할 값의 형식, 범위에 따라 값의 유형을 정해 놓고 사용. 
- 자료형에 따라 값의 크기와 저장방식이 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐.

    * `숫자` - int, float, complex
    * `문자` - str
    * `논리` - bool

## 3.1 숫자형

In [ ]:
import sys
print(sys.maxsize) # 정수의 최대값 : 2^63-1

In [ ]:
i = sys.maxsize + 100
print('i값:', i)
print(type(i))

In [ ]:
f = 3/2 # 정수/정수는 무조건 실수
f

In [ ]:
f = 3/3
f

In [ ]:
# 자바처럼 정수/정수의 결과 정수로
f = int(3/2) # int() : int로 형변환
print(f)
f = 3//2 # 몫연산자
print(f)

In [ ]:
c = 1j # 수학시간 1i
print(c**2) # c의 제곱

In [ ]:
f = 1.12e12 # 1.12*10의 12승(1120000000000)
print('지수형표현으로 할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 1.12*10의 -12 
print('지수형표현으로 할당시 실수형으로 저장 :', f)

## 3.2 문자형

In [ ]:
name = '홍길동\'짱\'' # 홍길동'짱'
address = "서울시 관악구 '신림'동"
print(name, address)

In [ ]:
text = '여러줄짜리 내용을 저장\n줄바꿈문자를 쓰면 당연히 여러줄\n줄바꿈은 가독성 떨어져'
print(text)

In [ ]:
text='''여러줄짜리 내용을 저장
줄바꿈문자쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 더 많아요
'''
print(text)

### ※ 문자열 연산

In [14]:
'''
    여러줄 주석 용도
    2024.11.5 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)

홍길동동해번쩍

In [15]:
print(name1 * 3) # 문자열을 곱하면 반복연산

홍길동홍길동홍길동

### ※ raw 데이터
      - 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [18]:
# raw 데이터 처리시 이스케이프문자(\n, \t, \r, \', \")가 그대로 저장
print(r'Hello\nWorld')

Hello\nWorld

In [19]:
# 정규표현식 이용
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 \
혈액형:B"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 혈액형:B

In [23]:
# 정규표현식 처리에서는 raw 데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 기독성을 높이는 용도로 raw 데이터 처리를 사용
tel_pattern = r'\d{2,3}-\d{3,4}-\d{4}'
tels = re.findall(tel_pattern, data)#해당 패턴을 다 찾아줘
tels

['02-888-8888', '010-9999-9999']

In [24]:
# 정규표현식 패턴과 처음 match 되는 것 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [26]:
print(data[18:29])
print(firstTel.group(0))

02-888-8888
02-888-8888

In [27]:
phone_pattern = r'(\d{2,3})-(\d{3,4})-(\d{4})'
first_phone = re.search(phone_pattern, data)
first_phone

In [29]:
print('전체 전화번호 :', first_phone.group(0))
print('국번 :', first_phone.group(1))
print('중간번호 :', first_phone.group(2))
print('끝번호 :', first_phone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [30]:
# 파일경로에는 반드시 r을 사용하거나 \\로 이용하거나 /를 사용
# file_path = 'D:\\ai\\source\\07_python\\test.txt'
# file_path = 'D:/ai/source/07_python/test.txt'
file_path = r'D:\ai\source\07_python\test.txt'

In [32]:
file_stream = open(file_path, 'w')
print('Hello, World', 'Hello, Python', sep='\n') # 콘솔 출력
print('Hello, World', 'Hello, Python', sep='\n', file=file_stream) # 파일 출력
file_stream.close() # close하지 않으면 저장 안 됨

Hello, World
Hello, Python

### ※ 문자열 슬라이싱

In [33]:
str_ = '0123456789'
str_

'0123456789'

In [35]:
str_[0], str_[2], str_[-1] # 음수인덱싱은 맨 마지막이 -1

('0', '2', '9')

In [36]:
str_[10] # 없는 인덱싱은 에러

IndexError: string index out of range

In [37]:
'''
문자열변수[from:stop] : from부터 stop앞까지 추출
문자열변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    stop 생략시 끝까지
    step 생략시 1
'''
str_[0:3] # 0번째부터 3번째앞까지

'012'

In [38]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [39]:
# 인덱싱시 없는 인덱스번호를 사용하면 에러
# 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미
str_[5:19]

'56789'

In [41]:
print(str_[0:10])
print(str_[0:10:2])

0123456789
02468

In [43]:
print(str_[:6]) # 처음부터 6번째앞까지
print(str_[5:]) # 5번째부터 끝까지

012345
56789

In [44]:
print(str_[9:0:-1]) # 9번째부터 0번째전까지 -1씩 전진

987654321

In [46]:
# 마지막부터 처음까지 꺼꾸로 출력
print(str_[9::-1])
print(str_[::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True, False)

In [47]:
a = True
print(a)
print(type(a)) # 타입
print(isinstance(a, bool)) #  bool타입인지 여부

True
<class 'bool'>
True

In [49]:
int(True), int(False)

(1, 0)

In [ ]:
# False로 간주되는 것 : 0, ''-빈스트링, None, []-빈리스트, ()-빈튜플, {}-빈딕셔너리

In [55]:
if '':
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
    - type()
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [61]:
int('123'), int(123.55), int(True)

(123, 123, 1)

In [62]:
# 에러나는 것들
int(''), int(' '), int(None), int('123.45'), int('1,456')

ValueError: invalid literal for int() with base 10: ''

In [67]:
float('123.45'), float(123), float(False), float('123')

(123.45, 123.0, 0.0, 123.0)

In [69]:
# 에러나는 것들
float(''), float(' '), float(None), float('1,123')

ValueError: could not convert string to float: ''

In [71]:
str(10), str(10.9), str(1.12e10)

('10', '10.9', '11200000000.0')

파이썬 기본 자료형(정리)
 1. 숫자 - int, float, complex
 2. 문자 - str, 문자슬라이싱, raw데이터처리시 이스케이프문자(\n, \\, \', \t)를 그대로 저장
 3. 논리 - False로 판별되는 경우 0, '', None, [], (), {}