In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:85%;}
div.CodeMirror {font-family:Consolas; font-size:20pt;}
div.output {font-size:20pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:20pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
span.toc-item-num{display:none;}
div.text_cell_render ul li{font-size:18pt;padding:5px;}
</style>
"""))

<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashMap과 유사), 셋

#  1절. 리스트

## 1.1 리스트 만들기
    - []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
    - list()함수 이용도 가능
    - 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
    - 슬라이싱([from:to:by]) : 부분 데이터셋을 추출. 
    - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [10]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [11]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [12]:
print(fruits[0])

banana

In [13]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [15]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의
            # 숫자를 순차적으로 사용할 수 있게 
            # from 생략시 0, by 생략시 1
range(10)

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [19]:
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

In [20]:
for i in [0,1,2]:
    print(i)

0
1
2

In [21]:
for i in range(3): # 0~2
    print(i)

0
1
2

In [22]:
for fruit in fruits:
    print(fruit)

mango
apple
orange

In [25]:
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [27]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [29]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [31]:
numbers = [1,2,3,'4', True, [1,2,3]]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [33]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [11,12,13,14,15],
              [91,92,93,94,95]]
len(numbers_2d), len(numbers_2d[0]) # 리스트 갯수

(3, 5)

In [36]:
numbers_2d[1][1]

12

In [39]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 11	1행1열 : 12	1행2열 : 13	1행3열 : 14	1행4열 : 15
2행0열 : 91	2행1열 : 92	2행2열 : 93	2행3열 : 94	2행4열 : 95

## 1.2 기본 정보 조회

In [44]:
numbers = [1,12,3,4,5]
numbers_2d = [[100, 0, 1, 2, 3],
              [9, 100, 110, 102, 130],
              [59, 100, 130]]

In [42]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 2

In [43]:
#최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [45]:
# 2차원 list의 min() : 부분 리스트 중에서 첫요소가 가장 작은 값
#             max() : 부분 리스트 중에서 첫요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [46]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'banana', 'orange']
min(fruits), max(fruits)

('banana', 'orange')

In [51]:
# 정렬하기
numbers = [1,12,3,14,5]
print('오름차순정렬 : ', sorted(numbers))
print('내림차순정렬 : ', sorted(numbers, reverse=True))
print('합 : ', sum(numbers))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)

오름차순정렬 :  [1, 3, 5, 12, 14]
내림차순정렬 :  [14, 12, 5, 3, 1]
합 :  35
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [2]:
# + : 두 리스트 연결
# * : 리스를 곱한 수만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [3]:
numbers = [1,2,3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [4]:
numbers = [1,2,3]
print(3 * numbers) # 곱한 수 만큼 list 반복
print(numbers *3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [6]:
numbers.append([5,6,7]) # 맨 뒤에 요소 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [8]:
num = [1, 2, 3]
num.extend([4,5,6]) # 요소별로 맨뒤에 각기 추가
num

[1, 2, 3, 4, 5, 6]

In [9]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [10]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [11]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [12]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환

In [13]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

In [14]:
numbers.count(2)

2

In [15]:
numbers.count(9)

0

In [16]:
9 in numbers # 9가 numbers의 요소인지 여부

False

In [17]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 위치

1

In [18]:
numbers.index(2, 2) # 2번째부터 2가 처음 나오는 위치

5

In [19]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

0
False

In [20]:
numbers.index(9)

ValueError: 9 is not in list

In [21]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 요소에 표함되지 않습니다')

9가 요소에 표함되지 않습니다

In [22]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [24]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [27]:
safe_index(numbers, 9)

-1

In [28]:
numbers[20] # 벗어난 인덱싱시 에러

IndexError: list index out of range

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list에서 원하는 index의 데이터를 추출

- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from:stop:step] from부터 stop앞까지 step씩 증가하는 index값 추출
        from 생략시 처음, stop 생략시 끝, step생략시 1. 모두 생략 가능
- 인덱스는 음수 가능 <br><br>

2. <font color="red">리스트 컴프리헨션</font> : list에서 원하는 데이터 추출

In [32]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [36]:
# 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 액세스
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 추출
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [37]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [38]:
# ex1. numbers에서 10이상 요소만 추출
[i for i in numbers if i>=10]

[10, 12, 13, 18, 19, 20]

In [39]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [40]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [42]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [43]:
# ex4. 리스트의 값의 두배로 추출
L = [1,2,3,4,5]
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [44]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [50]:
# 수정하려는 요소의 갯수가 맞지 않으면 에러
numbers[::2] = [1, 2, 3, 3, 3, 3, 3]

ValueError: attempt to assign sequence of size 7 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [54]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop(0))
print('삭제한 후 numbers :', numbers)

삭제한 데이터 : 5
삭제한 후 numbers : [1, 2, 3, 4]
삭제한 데이터 : 4
삭제한 후 numbers : [1, 2, 3]
삭제한 데이터 : 1
삭제한 후 numbers : [2, 3]

In [58]:
numbers = [0,1,2,3,4,5]
print(numbers.remove(3)) # remove()는 반환값이 없고, 해당 데이터 삭제만
print(numbers)

None
[0, 1, 2, 4, 5]

In [59]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [60]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 데이터입니다')

해당 데이터는 없는 데이터입니다

In [61]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [62]:
safe_remove(numbers, 9)

해당 데이터는 없는 아이템입니다

In [64]:
numbers = [0,1,2,3,4,5]
del numbers[2] # 2번째 index 요소 삭제
print('삭제 후:', numbers)

삭제 후: [0, 1, 3, 4, 5]

In [65]:
del numbers # 변수 삭제

In [66]:
numbers

NameError: name 'numbers' is not defined

## 1.8 정렬하기

In [78]:
numbers = [9, 5, 0, 8, 6]
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본정렬은 오름차순)
numbers

[9, 8, 6, 5, 0]

In [76]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로
numbers

[9, 8, 6, 5, 0]

In [79]:
numbers = [9, 5, 0, 8, 6]
numbers.reverse() # 리스트를 역순으로 변경
numbers

[6, 8, 0, 5, 9]

In [80]:
numbers.sort(reverse=True) # 내림차순 정렬
numbers

[9, 8, 6, 5, 0]

## 1.9 리스트 복제

In [82]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers # 얕은 복사
new_numbers.sort()
print('원본 :', numbers)
print('정렬본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('정렬본 주소 :', id(new_numbers))

원본 : [1, 5, 6, 9]
정렬본 : [1, 5, 6, 9]
원본 주소 : 1828163904640
정렬본 주소 : 1828163904640

In [83]:
# 깊은 복사(복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소 :', id(new_numbers))

numbers : [5, 6, 1, 9]
new_numbers : [9, 6, 5, 1]
numbers 주소 : 1828163224832
new_numbers 주소 : 1828146948352

In [86]:
city = ['서울', '부산', '대전', '대구', '인천', '광주', '제주']
temp = city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ', '.join(temp))

정렬전 : 서울 부산 대전 대구 인천 광주 제주
정렬후 : 광주, 대구, 대전, 부산, 서울, 인천, 제주

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [94]:
city = ('서울', '부산', '인천', '목포')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [88]:
', '.join(city)

'서울, 부산, 인천, 목포'

In [91]:
l = ['서울'] # 요소가 하나 있는 리슽
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [95]:
city = ('서울')# 요소가 하나 있는 튜플(X)
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [96]:
city = ('서울', ) # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [ ]:
a, b = 10, 20
# (a, b) = (10, 20)

In [97]:
numbers = 1,2,3 # numbers = (1, 2, 3)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [99]:
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [102]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [103]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2)

2

In [104]:
numbers[0:3]

(0, 1, 2)

In [105]:
numbers.index(2) # 처음부터 2가 처음 나오는 곳의 index

2

In [106]:
numbers.index(2, 3) # 3번째 부터 2가 나오는 index

6

In [107]:
numbers.index(9)

ValueError: tuple.index(x): x not in tuple

In [108]:
# numbers안에 9 요소가 있는 여부 
print(numbers.count(9))
print(9 in numbers)

0
False

In [109]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [110]:
safe_index(numbers, 9)

-1

In [112]:
numbers = (1,2,3)
numbers + numbers # 연결

(1, 2, 3, 1, 2, 3)

In [113]:
numbers * 3 # 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)